<!-- CTA -->
<section class="section-cta" data-stellar-background-ratio="0.7">
  <div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
            <h2 class="text-uppercase">Join the movement</h2>
            <div class="text-center subscribe-form">
                <form name="emailsubscribe" id="emailsubscribe">
                    <input type="email" placeholder="Email" name="emailaddress">
                    <button type="submit" class="btn btn-subsribe">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
  </div>
</section>
<!--END CTA -->