<nav class="pagination-wrap">
    <ul class="pagination pagination-lg">
        {% if paginator.previous_page %}
            <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
        {% endif %}
        {% if paginator.page_trail %}
            {% for trail in paginator.page_trail %}
            <li {% if page.url == trail.path %}class="disabled"{% endif %}><a href="{{ trail.path | prepend: site.baseurl }}" title="{{trail.title}}">{{ trail.num }}</a></li>
            {% endfor %}
        {% endif %}
        {% if paginator.next_page %}
            <li><a href="{{ paginator.next_page_path | prepend: site.baseurl }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
        {% endif %}
    </ul>
</nav>

<!-- <nav aria-label="...">
  <ul class="pager">
    {% if paginator.previous_page %}
        <li class="previous"><a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
    {% endif %}
    {% if paginator.next_page %}
        <li class="next"><a href="{{ paginator.next_page_path | prepend: site.baseurl }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
    {% endif %}
    
    <li class="previous disabled"><a href="{{ paginator.previous_page_path | prepend: site.baseurl }}"><span aria-hidden="true">&larr;</span> Older</a></li>
    <li class="next"><a href="{{ paginator.next_page_path | prepend: site.baseurl }}">Newer <span aria-hidden="true">&rarr;</span></a></li>
  </ul>
</nav> -->