.footerbox{
	background:$secondary-color;
	padding:40px 0;
	font-size:12pt;

	.container {
	    background: transparent;
	    border-radius: 0;
	    color: $white;
	}

	a, a:hover, a:active, a:link, a:visited{color:$white;}

	h3{margin-top:0;}

	.footerbox-right{text-align: right;}


	.copyright {
		text-align: center;
		padding-top:20px;
		padding-bottom:20px;

		small {
			color: red;
		}
	}
}

@media screen and (max-width: $mobile) {
    .footerbox, .footerbox-right{text-align: center;}
}
