.jumbo_box{

	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;

	height:400px;
		
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	position: relative;


	.inner_box {
		flex-basis:100%;
  		flex-direction: column;
  		display: flex;
    	justify-content: center;
    	align-items: flex-end;
    	text-align: right;
	    padding: 5rem;
	}

	h1{
	    font-size: 5rem;
	    text-transform: capitalize;
	}

	p{
		width: 45%;
	}


	&.homepage{
		background-image: asset_url('banners/banner-homepage.jpg');
	}

	&.nptechs {
		background-image: asset_url('banners/banner-nptech.jpg');
	}
}