.profile-info {
    h1 {
        display: block;
        clear: both;
        margin: 0;
        padding: 30px;
        background-color: $profile-header-bg;
        color: $secondary-color;
        text-transform: uppercase;
    }
    .bio {
        border-bottom: 1px solid $profile-header-bg;
        padding: 20px 30px;
        p:last-child {
            margin-bottom: 0;
        }
    }
}

.social {
    padding-top: 0;
    padding-bottom: 0;
    justify-content: space-between;
    display: flex;
    .icon {
        flex: 1;
        text-align: center;
        min-height: 50px;
        a {
            display: block;
            clear: both;
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            background-color: $profile-header-bg;
            font-size: 5rem;
            &.twitter {
                background-color: $twitter;
                color: $white;
                &:hover {
                    background-color: $profile-header-bg;
                    color: $twitter;
                }
            }
            &.facebook {
                background-color: $facebook;
                color: $white;
                &:hover {
                    background-color: $profile-header-bg;
                    color: $twitter;
                }
            }
            &.github {
                background-color: $github;
                color: $white;
                &:hover {
                    background-color: $profile-header-bg;
                    color: $twitter;
                }
            }
            &.linkedin {
                background-color: $linkedin;
                color: $white;
                &:hover {
                    background-color: $profile-header-bg;
                    color: $twitter;
                }
            }
            &.instagram {
                background-color: $instagram;
                color: $white;
                &:hover {
                    background-color: $profile-header-bg;
                    color: $twitter;
                }
            }
            &.youtube {
                background-color: $youtube;
                color: $white;
                &:hover {
                    background-color: $profile-header-bg;
                    color: $twitter;
                }
            }
            &.website {
                background-color: $website;
                color: $white;
                &:hover {
                    background-color: $profile-header-bg;
                    color: $twitter;
                }
                .fa-website:before {
                    content: "\f0ac";
                }
            }
            &:hover,
            &:active {
                background-color: $profile-header-bg;
            }
        }
    }
}