<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body class="{% if page.parent %}{{ page.parent }}{% endif %} {% if page.title %}{{ page.title | downcase | replace: ' ', '-' | replace: '/', '-' }}{% endif %}">
  <!-- [begin] the navigation -->
  {% include analytics.html %}
  <!-- [end] the navigation -->
  
  <!-- [begin] the navigation -->
  {% include mainmenu.html %}
  <!-- [end] the navigation -->

  <!-- [begin] subnavigation -->
  {% include subnav.html %}
  <!-- [end] subnavigation -->

  <!-- [begin] content -->
  {{ content }}
  <!-- [end] content -->

  <!-- [begin] footer -->
  {% include footer.html %}
  <!-- [end] footer -->

  <!-- [begin] global JS -->
  {% include javascript.html %}
  <!-- [end] global JS -->
</body>
</html>